 .playlistCard {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2rem;
    font-size: 1.2rem;
    background-image: linear-gradient(46deg,#f5c1c7,#fffbe2);
    border-radius: .9rem;
    background-position: 50%;
    margin: 8rem 20rem 20rem 20rem;
}
.created-date {
    position: absolute;
    top: 9px;
    right: 18px;
    font-size: .7rem;
}
.click-btn {
    position: relative;
    z-index: 2;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 90rem;
    margin-top: 1rem;
}